{{#if error}}
<div class="alert alert-warning" id="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{error}}
</div>
{{/if}}

{{#each errors}}
<div class="alert alert-warning" id="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{text}}
</div>
{{/each}}
